$icon-schedule: "\e600";
$icon-schedule-c: "\e601";
$icon-boxoffice: "\e602";
$icon-boxoffice-c: "\e603";
$icon-cinema: "\e604";
$icon-cinema-c: "\e605";
$icon-predict: "\e606";
$icon-predict-c: "\e607";
$icon-my: "\e608";
$icon-my-c: "\e609";
$icon-location: "\e60a";
$icon-calendar: "\e60b";
$icon-time: "\e950";
